@charset "UTF-8";
*{
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
body{
    background-image: linear-gradient( to right,#F2DDB6,#F2EFC2);
}
main{
    background-color: whitesmoke;
    border-radius: 9%;
    box-shadow: 5px 5px 17px #364027b9 ;
    width:600px;
    padding: 15px;
    margin: auto;
}
h1{
    color: #6A8C20;
    text-align: center;
    text-shadow: 1px 1px 2px #36402779;
}
h2{
    color: #445925;
}